body {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu-button {
    display: inline-block;
    color: default;
    vertical-align: bottom;
}

.div-menu {
    display: inline-block;
    vertical-align: bottom;
}